@using Obosi.ng.Presentation.utility;
@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
    Layout = "~/Views/Shared/_GeneralLayout2.cshtml";
            //Layout = null;
}

<style>

    .container-blog__page {
        display: flex;
        width: 100vw;
        padding: 96px 64px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        /* Image */
        background: linear-gradient( 0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100% ), url(/Blog\ Hero.png), lightgray 50% / cover no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image {
        height: 353.713px;
        align-self: stretch;
        background: url(/), lightgray 0px -123.664px / 100% 144.75% no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .avatarr {
        width: 48px;
        height: 48px;
        background: url(/), lightgray 50% / cover no-repeat;
        background-size: cover;
        border-radius: 100%;
    }
</style>




<!-- Header -->
<div class="container-blog__page">
    <div class="blog-header-container">
        <h2 class="blog-header-text">THE BRIEF HISTORY OF OBOSI PEOPLE</h2>
        <div class="avatar-content">
            
        </div>
    </div>
</div>
<!-- Header End -->

<main class="container-blog">
    <div class="containerr">
        <div class="blog-links">


            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">History</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        THE BRIEF HISTORY OF OBOSI PEOPLE
                    </li>
                </ol>
            </nav>

            <div class="breadcrumb-links">
                <!-- icons go here -->

                <div>
                    <img src="" alt="" />
                </div>
            </div>
        </div>

        <!-- Introduction -->

        <div class="introduction-container">
            <h2>  THE BRIEF HISTORY OF OBOSI PEOPLE</h2>

           
        </div>

        <!-- Content Area -->

        <div>
          
            <p>
                Obosi town was founded by a man called Adike Ukwala, who came from the Ire Quarters Of Nri town, in the kingdom. His father was Afuluenu Ukwala and it is this name, Ukwala, that Obosi people often affix in their name as Obosi-Ukwala. Nri Town is regarded as the cradle of Igbo civilisation and from where many Igbo towns originated. Adike had siblings named; Alor', Ojoto., Nwankwo who were males and a sister called Mgbogafor. Because of femine that ravaged Igboland in 10" Century AD that led to dispersals, Adike with his siblings led by the eldest Alor left Nri in search of greener pastures for farming and wandered south-eastwards till they got to present Alor town where they briefly settled. From here the other three brothers continued their movement till they got to place now called Ojoto town They stayed awhile at Ojoto and formed families. Still not satisfied with their stay at Ojoto as they were adventurous hunters and farmers, Adike and Nwankwo chose to wander further south with Adike deciding to settle at uppermost part land elevation overlooking the great river that came to be known as Orimili Niger while Nwankwo chose to continue down south and managed to cross the great river Niger, and aware of the seasonal flooding of the river, chose to establish a settlement further south that was later referred to as Igbo-na-uzo or Igbuzo now known as Ibusa.
            </p>
            <p>
            The relationship between the brothers is not lost on some of their descendants as those who are in the know have continued to maintain the link through bilateral cultural interactions of need arises. Occasions have risen in the past when cultural groups have come from Igbuzo to Ojoto and to Obosi. In Obosi, time was when the stick for making the Ofor symbol must be plucked from Ojoto town.
            </p>  <p>
            Today there are no strong ties between Obosi and Ibusa with different groups claiming ownership of Igbuzo [Ibusa] town. Since Igbuzo meant Igbo-bi-na-uzo which implies Igbo people staying on major highway and founded by the brother of Adike, it is not surprising that emigrants from other places now settle there and even claim to being the founder of the now famous town. The truth remains that the first inhabitants of Igbuzo were Adike's brothers as at were later joined by Umuru people, descendants of Adike, who came after they were driven out of Obosi because of certain historical developments. Now it is surprising that some Ibusa families bear name Nwobosi which is a dialectical variation of popular name Nwobosi.
            </p>  <p>
            The place Adike settled with his wife, Akwugo, was very sandy and all his attempts to mould a block and make a shelter was frustrated by non-adhesiveness of soil. In frustration he lamented that “Ana ne ebosisi ebosi” The name Obosi is believed to have originated from this Adike’s expression meaning the soil cannot stick together.

            Adike soon had a family. His first habitat was at the present Mmakwum village and it is where he built his Iba [forecourt] and had his ancestral home. He had two children. The first son was named Oba while the second son was named Okodu, Oba had his children as Okpo, Ezeani and Okpununo. Okodu had children named Nnebo, Uru, and Owelebe. Nnebo gave birth to two children namely Ota and Ire while Owulebe gave birth to Mmakwum, Urowulu, and Ugamuma.
            Adike’s children and grand-children are;
            </p>
            1.Okpala 2. Ezeani 3. Okpo 4. Ota 5.Ire 6.Umuru 7.Mmakwum 8.Urowulu 9.Ugamuma. These then constituted the nine patriarchs after Adike and are called Obosi Ebo - Itenani.

            These Ebo Itenani each had their initial settlements, what is now referred to as Adike ground.
            <p>
            Obosi at the moment comprises the five villages of Umuota, Ire Ugamuma, Urowulu, and Mmakwum because the other four generations after Adike that could have constituted as villages got assimilated and integrated into these five villages because of historical dynamics of various causes including assimilations.
            </p>


            <h1>
                THE UMU EZECHIMA FAMILY GROUPINGS OF OBOSI AND ONITSHA PEOPLE</h1>
            <p>
            The Umu Eze Chima family group are the descendants of the mythical Eze Chima who originated from Nri town and was known as a great Traditional Herbalist and belonged to the class of Ndi Dibia Oje Na Nmuo, the oracular herbalists. He left Nri town in the 10th century AD as famine ravaged Igboland with a group of people and after sojourning briefly at Otuocho-Aguleri, crossed River Niger and migrated south wards till he settled in Benin city.

            At Benin City, he found favour with the ruling class of the Ogiso dynasty because of his legendary skill in traditional medicine, divination, and sculpture. They were responsible for the creation of the now famous Benin sculpture which bears similarity with Igboukwu sculptures and bronze metals.
            They presently constitute the Igbanke part of Benin City. These descendants of Chima stayed in Benin for 400 years practicing these arts with some extending their dwellings as far south as Ile Ife and what became known as Ibadan. Some went further south to the place that is now known as Eko or Lagos. The place called Oyingbo in Lagos is part of their legacy.
            After  the collapse of The Ogiso Dynasty  and with  the Bini people choosing to look Southwards for a king, the descendants of Chima then decided to return to their place of origin which is East  of River Niger though some dropped along  the way to establish what now constitutes the Anioma towns and villages. Those that succeeded in crossing back to east of River Niger, settled at what later became known as Onicha and Anglicized as Onitsha.

            Onicha was name given to these settlers by Obosi people because when asked who they were they would answer that they were people that came from ‘Ani ndi ocha’. This answer made Obosi people dub them Ndi ani ocha. Ani ndi ocha meant Benin City because that was where the white men particularly the Portuguese, were first seen and called Ndi ocha. Obosi people accommodated Onitsha people who became their neighbours and interacted with them.
            </p>

                <h1>  THE MAKING OF IGWE OBOSI</h1>
<p>
            A scion of the descendant of Eze Chima was brought to Obosi by a man called Shime and it was he who subsequently introduced to Shime the concept of a paramount ruler that will unite all the families and peoples of Obosi under a king for Obosi to become a Kingdom as was the case in Onitsha among the descendants of Chime.

            This Prince taught Shime how this was done at Onitsha since he was of a royal blood. Shime sought the agreement and collaboration of all the elderly ones in various families known as Ndichie, who then agreed to submit to sovereignty of Shime as The Igwe and Eze Obosi in perpetuity. The seal of Adike Ukwala was given to him by one foremost Ndichie from family of Umuezechiamalu of Ugamuma village and the offer was also handed over to him by Prince Chima from Onicha after outlining the steps to be fulfilled before Shime could ascend throne. These steps included Ime Uke and Crowning [Ikpube Opku] and Ekwe Ozi [drumming] and Ima-Ukpo [Building the Throne and stepping on it] ceremonies.

            With the historical events that led to the swapping of homesteads between Mrnakwum people Ugamuma people, the custody of the seal of Adike then devolved to the Omesileke na Olimuo families Mrnakwum village till date.
            </p>
        </div>

      
    </div>

</main>

<div class="top-dropdown">

    <div class="dropdown-button-holder">

        <button class="dropdown-button" id="btn">

            <div class="bars">
                <div class="bar top"></div>
                <div class="bar bottom"></div>
            </div>

        </button>

    </div>



    <div id="people-dropdown" class="top-dropdown-contents">

        <div class="visible-large">
            <h1 class="top-header">
                Our People: Our Pride
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/Ikeazor.jpeg" />
                            <figcaption>
                                Chief Philip Ikeazor (Izoma-Obosi),  <br />
                                Deputy CBN Governor

                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/Ajegbo.jpeg" />
                            <figcaption>
                                Chief Mike Ajegbo (Ede Obosi), <br />
                                7 Senator, Federal Republic of Nigeria
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/anyaoku-people.jpg" />
                            <figcaption>
                                Chief Emeka Anyaoku <br />
                                Third Commonwealth Secretary General
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>
        <div class="bottom-nav">
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Personalities).ToString())">
                Obosi's Personalities
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                Igwe Obosi's Cabinet
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                Obosi Development Union
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                Obosi Umunna/Kindreds
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                Obosi Age Grade Societies
            </a>
        </div>

    </div>
    <div id="places-dropdown" class="top-dropdown-contents">
        <div class="visible-large">
            <h1 class="top-header">
                Our Places: Our Heritage
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Obosi Ukwala is situated in a hilly area, bordered by Onitsha to the North-west, Nkpor to the North-east and Oba to the south-east
                    </p>
                    <p>
                        Obosi has five villages namely: Umuota, Ire, Ugamuma, Urowulu, & Mmakwum.
                    </p>
                    <p>
                        Additionally it has suburbs namely: Awada, Enekwasumpu, Ugwuaba, & Odume.
                    </p>
                    <p>
                        Obosi's proximity to Onitsha, a commercial city, has made it a
                        desired home to several buinesses.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land1.jpg" />
                            <figcaption>
                                Aerial View of Idemili River into River Niger
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land2.jpg" />
                            <figcaption>
                                View of Awada Obosi, one of the most densely populated lands in Nigeria
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land3.jpg" />
                            <figcaption>
                                Road linking the newly constructed 2nd Niger Bridge
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>

        <div class="bottom-nav">
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Village).ToString())">
                Villages & Suburbs
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Schools).ToString())">
                Schools
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Hotels).ToString())">
                Hotels
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Churches).ToString())">
                Churches
            </a>
            <a href="#">
                More...
            </a>

        </div>
    </div>
    <div id="culture-dropdown" class="top-dropdown-contents">
        <div class="visible-large">
            <h1 class="top-header">
                Our Culture: Our Life
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade1.jpg" />
                            <figcaption>
                                The beautiful & graceful Agbonma Masquerade
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade2.jpg" />
                            <figcaption>
                                The ferocious & revered Isi Odogwu Masquerade
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade3.jpg" />
                            <figcaption>
                                The ever-playful and agile Ajikwu Masquerade
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>

        <div class="bottom-nav">
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Ito_Ogbo).ToString())">
                Ito-Ogbo Festival
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.New_Yam_Festival).ToString())">
                New Yam Festival
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Festivals).ToString())">
                Festivals
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Masquerade).ToString())">
                Masquerades
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Dance_Group).ToString())">
                Dance Groups
            </a>

        </div>
    </div>
    <div id="media-dropdown" class="top-dropdown-contents">
        <h1 class="top-header alt">
            Media Center
        </h1>
        <div class="top-nav">
            <a href="#">
                Opinion' Blogs
            </a>
            <a href="#">
                News Articles
            </a>
            <a href="#">
                Photo Gallery
            </a>
            <a href="#">
                Events Calendar
            </a>

        </div>

        <div class="visible-large">

            <div class="media-sections">

                <section class="media-menu">
                    <a href="#">
                        Education
                    </a>
                    <a href="#">
                        Security
                    </a>
                    <a href="#">
                        Health & Fitness
                    </a>
                    <a href="#">
                        Life, Religion & Family
                    </a>
                    <a href="#">
                        Science & Technology
                    </a>
                    <a href="#">
                        Movies, Music, & Arts
                    </a>
                </section>
                <section class="media-menu">
                    <a href="#">
                        Education
                    </a>
                    <a href="#">
                        Security
                    </a>
                    <a href="#">
                        Health & Fitness
                    </a>
                    <a href="#">
                        Life, Religion & Family
                    </a>
                    <a href="#">
                        Science & Technology
                    </a>
                    <a href="#">
                        Movies, Music, & Arts
                    </a>
                </section>
                <section class="media-menu">
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                        Igwe's Palace
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                        Obosi Development Union
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                        Umunnas/Kindreds
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                        Age Grade Societies
                    </a>
                </section>
                <section class="media-menu">
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                        Igwe's Palace
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                        Obosi Development Union
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                        Umunnas/Kindreds
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                        Age Grade Societies
                    </a>
                </section>
            </div>

        </div>
    </div>
    <div id="account-dropdown" class="top-dropdown-contents">
        <h1 class="top-header alt">
            Account Manager
        </h1>
        <div class="forms-container">

            <div class="form-body login">

                <h2>
                    Enter your email address or phone number to access your dashboard
                </h2>

                <form class="form-inline" asp-action="SignIn" asp-controller="Home" method="POST">

                    <div class="field-group-alt">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Email address" required asp-for="Username" />

                        </div>

                        <div class="field-holder">

                            <div class="password-box">

                                <input type="password" class="form-field" placeholder="Password" required asp-for="Password" />

                                <a href="#" id="show-password">
                                    <i class="fa fa-eye-slash"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="submit-button">
                        Login
                    </button>

                </form>

                <a href="#" class="alternative-link">
                    Forgotten Password?
                </a>
            </div>

            <div class="form-body register">

                <h2>
                    Are you an Obosi indigene but not registered? Complete the following fields to get started or
                    <a href="#">verify your account</a>.
                </h2>

                <form role="form" class="text-left" asp-action="SignUp" asp-controller="Home">

                    <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="First name" required asp-for="user.FirstName" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Last Name" required asp-for="user.LastName" />

                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Other name" asp-for="user.OtherName" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Email" asp-for="user.Email" required />

                        </div>
                    </div>  <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Password" required asp-for="user.Password" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Phone Number" asp-for="user.PhoneNumber" required />

                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field-holder">

                            <select class="form-field" required asp-for="VillageId">
                                <option selected>Select Village</option>
                                @foreach (var vil in Model.AllVillages)
                                {
                                    <option value="@vil.Id">@vil.Name</option>
                                }
                            </select>

                        </div>
                        <div class="field-holder">

                            <select class="form-field" asp-for="AkaId">
                                <option selected>Select Aka</option>
                                @foreach (var ak in Model.AllAka)
                                {
                                    <option value="@ak.Id">@ak.Name</option>
                                }

                            </select>

                        </div>

                    </div>

                    <div class="field-group">
                        <div class="field-holder">

                            <select class="form-field" asp-for="UmunnaId">
                                <option selected>Select Umunna</option>
                                @foreach (var umu in Model.AllUmunna)
                                {
                                    <option value="@umu.Id">@umu.Name</option>
                                }
                            </select>

                        </div>
                        <div class="field-holder">

                            <select class="form-field" asp-for="ImeneId">
                                <option value="">Select Ime Nne</option>
                                @foreach (var ime in Model.AllImene)
                                {
                                    <option value="@ime.Id">@ime.Name</option>
                                }
                            </select>

                        </div>

                    </div>

                    <div class="field-holder">

                        <div class="options">

                            <label> Are you a </label>

                            <span>
                                <input type="radio" id="male" name="user.GenderId" asp-for="user.GenderId" value="1" />
                                <label for="male">Male</label>
                            </span>

                            <span>
                                <input type="radio" id="female" name="user.GenderId" asp-for="user.GenderId" value="2" />
                                <label for="female">Female</label>
                            </span>
                        </div>

                    </div>


                    <button type="submit" class="submit-button">
                        Continue
                    </button>

                </form>

            </div>

        </div>
        <div class="bottom-nav alt">
            <a href="~/home/signin">
                Log into Account
            </a>
            <a href="#">
                Recover Lost Password
            </a>
            <a href="~/home/signup">
                Start Registration
            </a>
            <a href="#">
                Verify Registration
            </a>


        </div>

    </div>
</div>