@using Obosi.ng.Presentation.utility;
@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
   Layout = "~/Views/Shared/_HomeLayout.cshtml";
}





    <div class="container">
        <p class="mt-4 text-center responsive_font_size" style="color: #FB2B5F; font-size: 40px; font-weight: 700;">Welcome to Obosi Blog</p>
        <p class="mt-4 text-center responsive_font_size" style="color: #000; font-size: 18px; font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>

   <div class="mb-5">
        <div class="row mt-5 justify-content-center gap-3">
             @if (Model.Blogs != null)
            {
            foreach (var item in Model.Blogs)
            {

                <div class="rounded col-md-3 col-12 " onclick="window.location.href = '~/Home/Blog?id=@StringEncryption.Encrypt(@item.Id.ToString())';">
                    <img src="~/@item.BackgroundImageUrl" alt="" class="img-fluid w-100 h-50" style="height: 300px; width: 300px;">
            <div style="background-color: #fff;  padding: 1vmin;" class="shadow-sm">
                <p class="text-left " style="font-size: 24px; font-weight: 700;">@item.Title</p>
                <p class="text-left " style="font-size: 16px; font-weight: 400;">@Html.Raw(@item.Body)</p>
                <div class="row">
                    <div class="col-sm-3">
                    <img src="images/president.png" alt="" class="img-fluid col-md-3" style="margin: auto; width: 48px; height: 48px;border-radius: 50%; ">
                    </div>
                    <div style="flex-direction: row;"class="col-sm-6">
                    <p class="text-left " style="font-size: 14px; font-weight: 600;">@item.User.LastName @item.User.FirstName</p>
                    <p class="text-left " style="font-size: 14px; font-weight: 400;">@item.DateApproved.Value.ToShortDateString() <span>&#8226; 5 min read</span></p>
                    </div>
                    

                </div>
            </div>
            
            </div>}}
            
        </div>    
       
      
        <div class=" container d-flex justify-content-between mt-5">
            <div class="col-lg-6 col-6">
             <button class="btn " style="background-color: #0078D4; font-size: 16px; font-weight: 400; color: #FFFFFF;">Previous Page</button>
            </div>
            <div class=" col-lg-4 col-6">
                
            </div>
            <div class="col-lg-2 col-6">
             <button class="btn " style="background-color: #0078D4; font-size: 16px; font-weight: 400; color: #FFFFFF;"> Next Page</button>
            </div>

        </div>
   </div>


 