@model Obosi.ng.Presentation.ViewModels.HomePageViewModel
@{
    Layout = "~/Views/Shared/_GeneralLayout2.cshtml";
}


<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,400&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obosi.Ng SignUp</title>
</head>

  
    
    <div style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
margin-bottom:20px;
      ">
        <div class="authCard">
            <div style="flex: 1 1 0">
                <div class=""
                     style="
              padding-left: 31px;
              padding-right: 31px;
              margin-bottom: 18.14px;
            ">
                    <span style="
                color: #000;

                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
              ">Congratulations!</span>
                </div>
                <div style="
              width: 100%;
              border-bottom: 1px solid #ccc;
              margin-bottom: 17.37px;
            "></div>
                <div style="padding-left: 31px; padding-right: 31px">
                    <span style="
                color: black;
                font-size: 18px;
                font-family: Inter;
                font-weight: 500;
                line-height: 21.6px;
                word-wrap: break-word;
              ">
                        We're excited to have you join our community. Before you can dive
                        into the vibrant interactions, our admin team needs to verify your
                        account. This is just a quick step to ensure the safety and
                        authenticity of our community members.<br /><br />
                    </span><span style="
                color: black;
                font-size: 18px;
                font-family: Inter;
                font-weight: 700;
                line-height: 21.6px;
                word-wrap: break-word;
              ">What to Expect:<br /></span><span style="
                color: black;
                font-size: 18px;
                font-family: Inter;
                font-weight: 500;
                line-height: 21.6px;
                word-wrap: break-word;
              ">
                        <br />1. Approval Process: Your Umunna is reviewing your
                        account details. This usually takes a short time but may vary
                        based on the volume of sign-ups.<br /><br />2. Notification: Once
                        your account is approved, you'll receive a notification right in
                        your mail.<br /><br />3. Access Granted: After approval, you'll
                        have full access to the platform, and all the fantastic features
                        our community platform has to offer!<br /><br />
                    </span><span style="
                color: black;
                font-size: 18px;
                font-family: Inter;
                font-weight: 700;
                line-height: 21.6px;
                word-wrap: break-word;
              ">In the Meantime:<br /><br /></span><span style="
                color: black;
                font-size: 18px;
                font-family: Inter;
                font-weight: 500;
                line-height: 21.6px;
                word-wrap: break-word;
              ">
                        Feel free to explore more about Obosi and our community through
                        our public features. We're thrilled to have you on board and can't
                        wait to officially welcome you!<br /><br />Thank you for your
                        patience,<br /><br />The Obosi Community Admin Team 🌍
                    </span>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->



<div class="top-dropdown">

    <div class="dropdown-button-holder">

        <button class="dropdown-button" id="btn">

            <div class="bars">
                <div class="bar top"></div>
                <div class="bar bottom"></div>
            </div>

        </button>

    </div>



    <div id="people-dropdown" class="top-dropdown-contents">

        <div class="visible-large">
            <h1 class="top-header">
                Our People: Our Pride
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/Ikeazor.jpeg" />
                            <figcaption>
                                Chief Philip Ikeazor (Izoma-Obosi),  <br />
                                Deputy CBN Governor

                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/Ajegbo.jpeg" />
                            <figcaption>
                                Chief Mike Ajegbo (Ede Obosi), <br />
                                7 Senator, Federal Republic of Nigeria
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/anyaoku-people.jpg" />
                            <figcaption>
                                Chief Emeka Anyaoku <br />
                                Third Commonwealth Secretary General
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>
        <div class="bottom-nav">
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Personalities).ToString())">
                Obosi's Personalities
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                Igwe Obosi's Cabinet
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                Obosi Development Union
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                Obosi Umunna/Kindreds
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                Obosi Age Grade Societies
            </a>
        </div>

    </div>
    <div id="places-dropdown" class="top-dropdown-contents">
        <div class="visible-large">
            <h1 class="top-header">
                Our Places: Our Heritage
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Obosi Ukwala is situated in a hilly area, bordered by Onitsha to the North-west, Nkpor to the North-east and Oba to the south-east
                    </p>
                    <p>
                        Obosi has five villages namely: Umuota, Ire, Ugamuma, Urowulu, & Mmakwum.
                    </p>
                    <p>
                        Additionally it has suburbs namely: Awada, Enekwasumpu, Ugwuaba, & Odume.
                    </p>
                    <p>
                        Obosi's proximity to Onitsha, a commercial city, has made it a
                        desired home to several buinesses.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land1.jpg" />
                            <figcaption>
                                Aerial View of Idemili River into River Niger
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land2.jpg" />
                            <figcaption>
                                View of Awada Obosi, one of the most densely populated lands in Nigeria
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land3.jpg" />
                            <figcaption>
                                Road linking the newly constructed 2nd Niger Bridge
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>

        <div class="bottom-nav">
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Village).ToString())">
                Villages & Suburbs
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Schools).ToString())">
                Schools
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Hotels).ToString())">
                Hotels
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Churches).ToString())">
                Churches
            </a>
            <a href="#">
                More...
            </a>

        </div>
    </div>
    <div id="culture-dropdown" class="top-dropdown-contents">
        <div class="visible-large">
            <h1 class="top-header">
                Our Culture: Our Life
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade1.jpg" />
                            <figcaption>
                                The beautiful & graceful Agbonma Masquerade
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade2.jpg" />
                            <figcaption>
                                The ferocious & revered Isi Odogwu Masquerade
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade3.jpg" />
                            <figcaption>
                                The ever-playful and agile Ajikwu Masquerade
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>

        <div class="bottom-nav">
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Ito_Ogbo).ToString())">
                Ito-Ogbo Festival
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.New_Yam_Festival).ToString())">
                New Yam Festival
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Festivals).ToString())">
                Festivals
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Masquerade).ToString())">
                Masquerades
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Dance_Group).ToString())">
                Dance Groups
            </a>

        </div>
    </div>
    <div id="media-dropdown" class="top-dropdown-contents">
        <h1 class="top-header alt">
            Media Center
        </h1>
        <div class="top-nav">
            <a href="#">
                Opinion' Blogs
            </a>
            <a href="#">
                News Articles
            </a>
            <a href="#">
                Photo Gallery
            </a>
            <a href="#">
                Events Calendar
            </a>

        </div>

        <div class="visible-large">

            <div class="media-sections">

                <section class="media-menu">
                    <a href="#">
                        Education
                    </a>
                    <a href="#">
                        Security
                    </a>
                    <a href="#">
                        Health & Fitness
                    </a>
                    <a href="#">
                        Life, Religion & Family
                    </a>
                    <a href="#">
                        Science & Technology
                    </a>
                    <a href="#">
                        Movies, Music, & Arts
                    </a>
                </section>
                <section class="media-menu">
                    <a href="#">
                        Education
                    </a>
                    <a href="#">
                        Security
                    </a>
                    <a href="#">
                        Health & Fitness
                    </a>
                    <a href="#">
                        Life, Religion & Family
                    </a>
                    <a href="#">
                        Science & Technology
                    </a>
                    <a href="#">
                        Movies, Music, & Arts
                    </a>
                </section>
                <section class="media-menu">
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                        Igwe's Palace
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                        Obosi Development Union
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                        Umunnas/Kindreds
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                        Age Grade Societies
                    </a>
                </section>
                <section class="media-menu">
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                        Igwe's Palace
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                        Obosi Development Union
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                        Umunnas/Kindreds
                    </a>
                    <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                        Age Grade Societies
                    </a>
                </section>
            </div>

        </div>
    </div>
    <div id="account-dropdown" class="top-dropdown-contents">
        <h1 class="top-header alt">
            Account Manager
        </h1>
        <div class="forms-container">

            <div class="form-body login">

                <h2>
                    Enter your email address or phone number to access your dashboard
                </h2>

                <form class="form-inline" asp-action="SignIn" asp-controller="Home" method="POST">

                    <div class="field-group-alt">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Email address" required asp-for="Username" />

                        </div>

                        <div class="field-holder">

                            <div class="password-box">

                                <input type="password" class="form-field" placeholder="Password" required asp-for="Password" />

                                <a href="#" id="show-password">
                                    <i class="fa fa-eye-slash"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="submit-button">
                        Login
                    </button>

                </form>

                <a href="#" class="alternative-link">
                    Forgotten Password?
                </a>
            </div>

            <div class="form-body register">

                <h2>
                    Are you an Obosi indigene but not registered? Complete the following fields to get started or
                    <a href="#">verify your account</a>.
                </h2>

                <form role="form" class="text-left" asp-action="SignUp" asp-controller="Home">

                    <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="First name" required asp-for="user.FirstName" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Last Name" required asp-for="user.LastName" />

                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Other name" asp-for="user.OtherName" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Email" asp-for="user.Email" required />

                        </div>
                    </div>  <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Password" required asp-for="user.Password" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Phone Number" asp-for="user.PhoneNumber" required />

                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field-holder">

                            <select class="form-field" required asp-for="VillageId">
                                <option selected>Select Village</option>
                                @foreach (var vil in Model.AllVillages)
                                {
                                    <option value="@vil.Id">@vil.Name</option>
                                }
                            </select>

                        </div>
                        <div class="field-holder">

                            <select class="form-field" asp-for="AkaId" required>
                                <option selected>Select Aka</option>
                                @foreach (var ak in Model.AllAka)
                                {
                                    <option value="@ak.Id">@ak.Name</option>
                                }

                            </select>

                        </div>

                    </div>

                    <div class="field-group">
                        <div class="field-holder">

                            <select class="form-field" asp-for="UmunnaId" required>
                                <option selected>Select Umunna</option>
                                @foreach (var umu in Model.AllUmunna)
                                {
                                    <option value="@umu.Id">@umu.Name</option>
                                }
                            </select>

                        </div>
                        <div class="field-holder">

                            <select class="form-field" asp-for="ImeneId" required>
                                <option value="">Select Ime Nne</option>
                                @foreach (var ime in Model.AllImene)
                                {
                                    <option value="@ime.Id">@ime.Name</option>
                                }
                            </select>

                        </div>

                    </div>

                    <div class="field-holder">

                        <div class="options">

                            <label> Are you a </label>

                            <span>
                                <input type="radio" id="male" name="user.GenderId" asp-for="user.GenderId" value="1" />
                                <label for="male">Male</label>
                            </span>

                            <span>
                                <input type="radio" id="female" name="user.GenderId" asp-for="user.GenderId" value="2" />
                                <label for="female">Female</label>
                            </span>
                        </div>

                    </div>


                    <button type="submit" class="submit-button">
                        Continue
                    </button>

                </form>

            </div>

        </div>
        <div class="bottom-nav alt">
            <a href="~/home/signin">
                Log into Account
            </a>
            <a href="#">
                Recover Lost Password
            </a>
            <a href="~/home/signup">
                Start Registration
            </a>
            <a href="#">
                Verify Registration
            </a>

        </div>

    </div>
</div>