@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
    //Layout = "~/Views/Shared/_HomeLayout.cshtml";
    Layout = "~/Views/Shared/_GeneralLayout2.cshtml";
}

<style>
    a {
        text-decoration: none;
    }
</style>





<div class="row container" style="margin-left: auto; margin-right: auto;">
    <div class="col-sm-12 ">
        <p style="font-size: 4vmin; font-weight: 700;">CALENDER</p>
    </div>
</div>
<div class="container" style="background-color: #D4D8E2;border-bottom:1px solid #ffff">

<div class="d-lg-flex" style="  ">
   
        <!-- First Box -->
        <div class=" col-md-6 col-sm-12 col-12 mb-4 " style=" padding: 5px; margin-right: 15px;">
            <div class="col-md-12 " style="display: flex; background-color: #F7F7F7; padding: 10px;">
                <div class="col-md-3" style="line-height: normal; color: #FFFFFF; margin: 0; padding: 10px; background-color: #CFB174;">
                    @{
                        var mon = Model.Calender_AssetsItem.StartDate.ToString("MMM");
                    }

                    <h6 style="font-weight: 700; font-size: 40px; margin: 0;"> @mon</h6>
                <h6 style="font-weight: 700; font-size: 65px; margin: 0;"> @Model.Calender_AssetsItem.StartDate.Day</h6>
                <h6 style="font-weight: 500; font-size: 28px; margin: 0;">  @Model.Calender_AssetsItem.StartDate.Year</h6>
                </div>
                <div class="col-md-9 " style="padding: 10px;">
                <h6 style="font-weight: 600; font-size: 30px; margin: 0;color:  #4e4e4e;"> @Model.Calender_AssetsItem.Title</h6>
                    <div class="py-5">
                    @Html.Raw(@Model.Calender_AssetsItem.Description)
                    </div>
                    <div class="">
                        <div style="border-bottom: 3px solid #CFB174; padding: 5px;"></div>
                    </div>
                </div>
            </div>
        </div>


    
</div>
</div>
