@using Obosi.ng.Application.Enums;
@using Obosi.ng.Presentation.utility;
@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}



<main>



    <div class="bottom-header-contents">

        <!-- <div class="story-line">
                    <p>
                        <i class="fa fa-quote-left"></i> Once Upon A Time, Many Centuries Ago, A brave Hunter went up a
                        hill in search of game. When he looked down, he beheld one of the
                        most beautiful lands he had ever seen. His name was Adike and the land
                        he found was later to be known as...
                    </p>
                    <h1>
                        Obosi Ukwala<i class="fa fa-quote-right"></i>
                    </h1>

                    <p class="iconed-holder">

                        <a href="#" class="iconed red">
                            <span>Read The Full Story of Adike's Daring Journey</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>

                    </p>

                </div> -->

    </div>

    <section id="sights-sounds">

        <h1 style="align-items:center; text-align:center;">
            Welcome to the official platform of Ndi Obosi
        </h1>
        <h2 style="align-items:center; text-align:center;">
            Explore our rich cultural heritage
        </h2>

        <!-- Heritage Gallery Begin -->
        <div class="sights-sounds-links">

            <div style="align-content: center" class="carousel-container">
                <div class="carouse">

                    <div class="Gallery-card">
                        <a href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Monument).ToString())">
                            <div class="card card-label-control card-1" style="background-color: #f1c40f;"> <span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Monuments</span></div>
                        </a>
                        <a href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Masquerade).ToString())">
                            <div class="card card-2 card-label-control" style="background-color: #e67e22;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Masquerades</span></div>
                        </a>
                        <a href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Dance_Group).ToString())">
                            <div class="card card-3 card-label-control" style="background-color: #e74c3c;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Dance Groups</span></div>
                        </a>
                        <a href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Festivals).ToString())">
                            <div class="card card-4 card-label-control" style="background-color: #3498db;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Festivals</span></div>
                        </a>
                    </div>

                    <div class="Gallery-card">
                        <a
                            href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Personalities).ToString())">
                            <div class="card card-5 card-label-control" style="background-color: #9b59b6;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Personalities</span></div>
                        </a>
                        <a href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Village).ToString())">
                            <div class="card card-6 card-label-control" style="background-color: #2ecc71;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Village Suburbs</span></div>
                        </a>
                        <a href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Landmarks).ToString())">
                            <div class="card card-7 card-label-control" style="background-color: #1abc9c;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Landmarks</span></div>
                        </a>
                        <a
                            href="Home/UnitList?id=@StringEncryption.Encrypt(((int)@Unit_Types.Services_And_Resources).ToString())">
                            <div class="card card-8 card-label-control" style="background-color: #34495e;"><span
                                    style="font-weight: 600; color: aliceblue; margin: 2rem 3rem; display: flex;"> <span
                                        class="bar"></span> Services Resources</span></div>
                        </a>
                    </div>

                </div>
                       @*  <div class="carousel-arrow left" onclick="scrollCarousel(-1)">◄</div>
                        <div class="carousel-arrow right" onclick="scrollCarousel(1)">►</div> *@
            </div>


            <div>
                <!-- <a href="#" class="sights-sounds-link">
                            <div class="monuments-link">
                                <h3>
                                    Monuments
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="masquerades-link">
                                <h3>
                                    Masquerades
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="dances-link">
                                <h3>
                                    Dance Groups
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="festivals-link">
                                <h3>
                                    Festivals
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="personalities-link">
                                <h3>
                                    Personalities
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="villages-link">
                                <h3>
                                    Villages & Suburbs
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="landmarks-link">
                                <h3>
                                    Landmarks
                                </h3>
                            </div>
                        </a>
                        <a href="#" class="sights-sounds-link">
                            <div class="services-link">
                                <h3>
                                    Services & Resources
                                </h3>
                            </div>
                        </a> -->
            </div>

        </div>
        <!-- Heritage Gallery Begin -->

    </section>

    <section id="leadership-structure" style="background-color: #242C3F; padding: 7rem 0;">
        <div style="margin: 3rem auto; display: flex; justify-content: center;">
            <h1 class="Obosi-Leadership__Structure">
                Obosi's Leadership Structure
            </h1>

        </div>
        <div class="leadership-structure-body">
            <div class="traditional">
                <figure>
                    <img src="~/land/igwe.jpg" />
                    <figcaption>
                        Igwe Chidubem Iweka
                        <span>His Royal Majesty, Eze Iweka III, Igwe Obosi</span>
                    </figcaption>
                </figure>
                <div class="description-text">
                    <p>
                        The Obosi traditional institution is made up of the Igwe of Obosi
                        and members of his majesty's cabinet.
                    </p>
                    <p class="iconed-holder">

                        <a href="#" class="iconed red">
                            <span>Learn More</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>

                    </p>
                </div>

            </div>
            <div class="administrative">
                <figure>
                    <img src="~/land/pg.jpg" />
                    <figcaption>
                        Chimezie Obi, Esq.
                        <span>President General, Obosi Development Union</span>
                    </figcaption>
                </figure>
                <div class="description-text">
                    <p>
                        The Obosi development union is the center of the Obosi adminsitrative structure.
                        It has chapters across the world.
                    </p>
                    <p class="iconed-holder">

                        <a href="#" class="iconed red">
                            <span>Learn More</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="register-database">
        <div class="register-database-wrapper">
            <div class="register-text">
                <h2>
                    Are You An Obosi Indigene?
                </h2>
                <p>
                    Register & Become Part of the Database.
                </p>
                <p class="iconed-holder">

                    <a href="#" class="iconed red">
                        <span>Get Started</span>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>

                </p>
            </div>

        </div>
    </section>

    <section id="upcoming-events">

        <div class="events">

            <h1>
                Upcoming Events
            </h1>

            <div class="single-events">
                @if (Model.CalenderAssets != null)
                {
                    foreach (var cal in Model.CalenderAssets)
                    {
                        <div class="single-event">

                            <div class="inner-single-event">
                                <div class="event-date-container">
                                    <div class="event-date">
                                        <p class="month">
                                            @{
                                                var mon = cal.StartDate.ToString("MMM");
                                            }
                                            @mon
                                        </p>
                                        <p class="day">
                                            @cal.StartDate.Day
                                        </p>
                                        <p class="year">
                                            @cal.StartDate.Year
                                        </p>
                                    </div>
                                </div>
                                <div class="event-text">
                                    <h2>
                                        @cal.Title
                                    </h2>
                                    @* <a href="~/Home/Events?id=@StringEncryption.Encrypt(@cal.Id.ToString())" class="font-weight-bold">
                                        Learn More
                                    </a>  *@

                                </div>
                            </div>

                        </div>
                    }

                }
            </div>

            <p class="iconed-holder">

                <a href="~/Home/EventList" class="iconed red">
                    <span>More Events</span>
                    <i class="fa fa-arrow-circle-right"></i>
                </a>

            </p>


        </div>

    </section>

    <section id="news-blogs">

        <div class="news-section" style="height: auto;">

            <div class="section-header">

                <h2>
                    Latest Announcements, birthday and adverts
                </h2>

            </div>
            @*            @if (Model.News != null)
            { *@
            @* foreach (var news in Model.News)
                {
                    <div class="single-news">
                        <div class="image-holder">
                            <img src="~/@news.BackgroundImageUrl" class="img-fluid " style="height: 100px; width: 200px;" />
                        </div>
                        <p>
                            @if (news.DateApproved != null)
                            {
                                news.DateApproved.Value.ToLongDateString();
                            }
                        </p>
                        <a href="~/Home/News?id=@StringEncryption.Encrypt(@news.Id.ToString())">
                            @news.Title
                        </a>
                    </div>
                }
 *@
            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    @if (Model.AnnouncementTitlesList != null)
                    {
                        for (int i = 0; i < 4; i++)
                        {
                            var blog = Model.AnnouncementTitlesList[i];
                            <a href="@blog.link">
                                <div class="single-blog mx-auto"
                                    style="display: flex; flex-direction: row; padding: 20px; border-radius: 10px; background: #ffffff; margin-bottom: 20px; gap: 20px;">


                                        @if (!string.IsNullOrWhiteSpace(blog.featured_image))
                                        {
                                             <div style="flex: 1; display: flex; justify-content: center; align-items: center; background-image: url(@blog.featured_image); background-size: contain; height: 170px; width: 100px; background-repeat: no-repeat;"> 
                                        
                                    </div>
                                        }
                                    <!-- Left Side: Image -->
                                   

                                    <!-- Right Side: Content -->
                                    <div>
                                        <div style="flex: 2; display: flex; flex-direction: column; padding: 10px;">
                                            <!-- Title -->
                                            <a
                                                style="font-size: 18px; font-weight: bold; color: #242c3f; text-decoration: none; justify-content: center; align-items: center; text-align: center; ">
                                                @blog.title
                                            </a>

                                            <!-- Truncated Content -->
                                            <p style="font-size: 14px; color: #555; line-height: 1.6; margin: 10px 0; text-align: left;">
                                                @(string.IsNullOrWhiteSpace(blog.content)
                                                    ? "No content available"
                                                    : (blog.content.Length > 100
                                                    ? blog.content.Substring(0, 100) + "..."
                                                    : blog.content))
                                            </p>

                                            <!-- Read More Button -->

                                        </div>
                                        <div style="display: flex; justify-content: flex-end;">
                                            <a href="@blog.link"
                                                style="font-size: 14px; font-weight: bold; color: #0078d4; text-decoration: none; padding: 5px 10px; border: 1px solid #0078d4; border-radius: 4px;">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
                <div>
                    <p class="iconed-holder">
                    <div style="text-align: center; margin-top: auto;">
                        <a href="~/Home/NewsList" class="iconed red">
                            <span>Read News</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    </p>
                </div>
            </div>



        </div>

        <div class="blogs-section">

            <div class="section-header">

                <h2>
                    Latest News
                </h2>

            </div>
            @*   @if (Model.Blogs != null)
            {
                foreach (var blogs in Model.Blogs)
                {
                    <div class="single-blog">
                        <div class="image-holder">
                            <img src="~/@blogs.BackgroundImageUrl" class="img-fluid " style="height: 100px; width: 200px;" />
                        </div>
                        <p>
                            @if (blogs.DateApproved != null)
                            {
                                blogs.DateApproved.Value.ToLongDateString();
                            }
                        </p>
                        <a href="~/Home/Blog?id=@StringEncryption.Encrypt(@blogs.Id.ToString())">
                            @blogs.Title
                        </a>
            </div>
                } *@



            @if (Model.categoriesTitlesList != null)
            {
                for (int i = 0; i < 4; i++)
                {
                    var blog = Model.categoriesTitlesList[i];
                            <a href="@blog.link">
                                <div class="single-blog mx-auto"
                                    style="display: flex; flex-direction: row; padding: 10px; border-radius: 10px; background: #ffffff; margin-bottom: 20px; gap: 20px;">


                                        @if (!string.IsNullOrWhiteSpace(blog.featured_image))
                                        {
                                             <div style="flex: 1; display: flex; justify-content: center; align-items: center; background-image: url(@blog.featured_image); background-size: contain; height: 170px; width: 100px; background-repeat: no-repeat; margin-top: 42px;"> 
                                        
                                    </div>
                                        }
                                    <!-- Left Side: Image -->
                                   

                                    <!-- Right Side: Content -->
                                    <div>
                                        <div style="flex: 2; display: flex; flex-direction: column; padding: 10px;">
                                            <!-- Title -->
                                            <a
                                                style="font-size: 18px; font-weight: bold; color: #242c3f; text-decoration: none; justify-content: center; align-items: center; text-align: center; ">
                                                @blog.title
                                            </a>

                                            <!-- Truncated Content -->
                                            <p style="font-size: 14px; color: #555; line-height: 1.6; margin: 10px 0; text-align: left;">
                                                @(string.IsNullOrWhiteSpace(blog.content)
                                                    ? "No content available"
                                                    : (blog.content.Length > 100
                                                    ? blog.content.Substring(0, 100) + "..."
                                                    : blog.content))
                                            </p>

                                            <!-- Read More Button -->

                                        </div>
                                        <div style="display: flex; justify-content: flex-end;">
                                            <a href="@blog.link"
                                                style="font-size: 14px; font-weight: bold; color: #0078d4; text-decoration: none; padding: 5px 10px; border: 1px solid #0078d4; border-radius: 4px;">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                }

               
                <div style="text-align: center; margin-top: auto;">
                    <a href="~/Home/BlogList" class="iconed red">
                        <span> Read Blogs</span>
                        @* <i class="fa fa-arrow-circle-right"></i> *@
                    </a>

                </div>
            }
            else
            {
                <p>No blogs available.</p>
            }


        </div>

    </section>

    <section id="see-say">
        <h5>
            OARS<sup>&copy;</sup>
        </h5>
        <div class="title">
            <h1>See <b>Something</b></h1>
            <span class="divider"></span>
            <h1>
                Say <b>Something</b>
            </h1>
        </div>
        <h2>
            Did you notice something suspicious?
        </h2>
        <h3>
            You can help secure Obosi by reporting suspicious activities
        </h3>

        <p class="iconed-holder">
            <a target="_blank" href="#" class="iconed red">
                <span>Report Suspicion</span>
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </p>
        <h4>
            Obosi Anonymous Reporting System ( OARS<sup>&copy;</sup> )
        </h4>
        <h6>
            An Initiative of the Obosi Security Committee Headed By Sir Dan Igbokwubili.
        </h6>
    </section>

</main>


@*      <script>
    $('#villageId').on('change', function (e) {
        loadAka($('#villageId').val())
    });
    $('#akaId').on('change', function (e) {
        loadUmunna($('#akaId').val())
    });
    $('#umunnaId').on('change', function (e) {
        loadImenne($('#umunnaId').val())
    });

    function loadAka(villageId) {

        if (villageId > 0) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAkas", "Home")', // we are calling json method
                dataType: 'json',
                data: { villageId: villageId },
                success: function (result) {
                    console.log(result,"result  akaaaaaa");

                        $("#spec").empty();
                        //populate ExamBatch
                        $("#spec").append('<option value = "" > -- Select Aka -- </option>');
                        $.each(result.specification, function (i, specification) {
                            $("#spec").append('<option value = "' + specification.id + '" >' + specification.name + '</option>');
                        });




                },
                error: function (ex) {
                    alert('error' + ex);
                }

            });
        }
    }

    function loadUmunna(akaId) {

        if (objectiveid > 0) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSpecificationByObjective", "Question")', // we are calling json method
                dataType: 'json',
                data: { objectiveId: objectiveid },
                success: function (result) {
                    if (!result.isError && result.specification != undefined) {

                        $("#spec").empty();
                        //populate ExamBatch
                        $("#spec").append('<option value = "" > -- Select Specification -- </option>');
                        $.each(result.specification, function (i, specification) {
                            $("#spec").append('<option value = "' + specification.id + '" >' + specification.name + '</option>');
                        });


                    }

                },
                error: function (ex) {
                    alert('error' + ex);
                }

            });
        }
    }

    function loadImenne(umunnaId) {

        if (objectiveid > 0) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSpecificationByObjective", "Question")', // we are calling json method
                dataType: 'json',
                data: { objectiveId: objectiveid },
                success: function (result) {
                    if (!result.isError && result.specification != undefined) {

                        $("#spec").empty();
                        //populate ExamBatch
                        $("#spec").append('<option value = "" > -- Select Specification -- </option>');
                        $.each(result.specification, function (i, specification) {
                            $("#spec").append('<option value = "' + specification.id + '" >' + specification.name + '</option>');
                        });


                    }

                },
                error: function (ex) {
                    alert('error' + ex);
                }

            });
        }
    }

</script> *@