@using Obosi.ng.Presentation.utility;
@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
   // Layout = "~/Views/Shared/_HomeLayout.cshtml";
    Layout = "~/Views/Shared/_GeneralLayout2.cshtml";
}
@* 
<script>
    // Wait for the document to be ready
    $(document).ready(function () {
        // Select the first line within the rendered content
        var firstLine = $('body').contents().filter(function () {
            return this.nodeType === 3 && $.trim(this.textContent) !== '';
        }).first().text();

        // Display the first line in the console (you can do any other desired operation)
        console.log(firstLine);
    });
</script>

<div class="container">
    <p class="mt-4 text-center responsive_font_size" style="color: #FB2B5F; font-size: 40px; font-weight: 700;">Welcome to Obosi News</p>
    <p class="mt-4 text-center responsive_font_size" style="color: #000; font-size: 18px; font-weight: 400;">Latest News. </p>
</div>

<div class="mb-5">
    <div class="row mt-5 justify-content-center gap-3">
        @if (Model.News != null)
        {
            foreach (var item in Model.News)
            {

                <div class="rounded col-md-3 col-12 " onclick="window.location.href = '/Home/News?id=@StringEncryption.Encrypt(item.Id.ToString())';">
                    <img src="~/@item.BackgroundImageUrl" alt="" class="img-fluid w-100 h-50" style="height: 300px; width: 300px;">
                    <div style="background-color: #fff;  padding: 1vmin;" class="shadow-sm">
                        <p class="text-left " style="font-size: 24px; font-weight: 700;">@item.Title</p>
                        <p class="text-left " style="font-size: 16px; font-weight: 400;"></p>
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="~/@item.User.PassportUrl" alt="" class="img-fluid col-md-3" style="margin: auto; width: 48px; height: 48px;border-radius: 50%; ">
                            </div>
                            <div style="flex-direction: row;" class="col-sm-6">
                                <p class="text-left " style="font-size: 14px; font-weight: 600;">@item.User.LastName @item.User.FirstName</p>
                                <p class="text-left " style="font-size: 14px; font-weight: 400;">@item.DateApproved.Value.ToShortDateString() <span>&#8226; 5 min read</span></p>
                            </div>


                        </div>
                    </div>

                </div>
            }
        }
     
    </div>
   
  
</div>

 *@




<div class="container-blog__page">
    <div class="blog-header-container">
        <h2 class="blog-header-text">News List</h2>

    </div>
</div>


<div class="related-post">
    <div class="related-post__header">
        <h2>Welcome to Obosi News</h2>
    </div>

    <p>Latest News.</p>

    <!-- Cards -->

    <div class="posts">


        @if (Model.News != null)
        {
            foreach (var item in Model.News)
            {

                <!-- Post 1 -->
                <div class="card" onclick="window.location.href = '/Home/News?id=@StringEncryption.Encrypt(@item.Id.ToString())';">
                    <img src="~/@item.BackgroundImageUrl" alt="Blog Post Image" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">@item.Title</h2>
                        <p class="card-description">Brief description of the news post content...</p>
                        <div class="author-info">
                            <img src="~/@item.User.PassportUrl" alt="Author Avatar" class="author-avatar">
                            <p class="author-name">@item.DateApproved.Value.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            }

        }
        <!-- Post 1 end-->
        <!-- Post 3 end-->

    </div>




</div>


<div class="top-dropdown">

    <div class="dropdown-button-holder">

        <button class="dropdown-button" id="btn">

            <div class="bars">
                <div class="bar top"></div>
                <div class="bar bottom"></div>
            </div>

        </button>

    </div>



    <div id="people-dropdown" class="top-dropdown-contents">

        <div class="visible-large">
            <h1 class="top-header">
                Our People: Our Pride
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/Ikeazor.jpeg" />
                            <figcaption>
                                Chief Philip Ikeazor (Izoma-Obosi),  <br />
                                Deputy CBN Governor

                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/Ajegbo.jpeg" />
                            <figcaption>
                                Chief Mike Ajegbo (Ede Obosi), <br />
                                7 Senator, Federal Republic of Nigeria
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/anyaoku-people.jpg" />
                            <figcaption>
                                Chief Emeka Anyaoku <br />
                                Third Commonwealth Secretary General
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>
        <div class="bottom-nav">
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Personalities).ToString())">
                Obosi's Personalities
            </a>
            <a href="~/Home/UnitList?id=@StringEncryption.Encrypt(((int)@UnitTypes.Igwes_Cabinent).ToString())">
                Igwe Obosi's Cabinet
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Obosi_development_union_ODU).ToString())">
                Obosi Development Union
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Umunna).ToString())">
                Obosi Umunna/Kindreds
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Age_Grade).ToString())">
                Obosi Age Grade Societies
            </a>
        </div>

    </div>
    <div id="places-dropdown" class="top-dropdown-contents">
        <div class="visible-large">
            <h1 class="top-header">
                Our Places: Our Heritage
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Obosi Ukwala is situated in a hilly area, bordered by Onitsha to the North-west, Nkpor to the North-east and Oba to the south-east
                    </p>
                    <p>
                        Obosi has five villages namely: Umuota, Ire, Ugamuma, Urowulu, & Mmakwum.
                    </p>
                    <p>
                        Additionally it has suburbs namely: Awada, Enekwasumpu, Ugwuaba, & Odume.
                    </p>
                    <p>
                        Obosi's proximity to Onitsha, a commercial city, has made it a
                        desired home to several buinesses.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land1.jpg" />
                            <figcaption>
                                Aerial View of Idemili River into River Niger
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land2.jpg" />
                            <figcaption>
                                View of Awada Obosi, one of the most densely populated lands in Nigeria
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/land3.jpg" />
                            <figcaption>
                                Road linking the newly constructed 2nd Niger Bridge
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>

        <div class="bottom-nav">
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Village).ToString())">
                Villages & Suburbs
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Schools).ToString())">
                Schools
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Hotels).ToString())">
                Hotels
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Churches).ToString())">
                Churches
            </a>
            <a href="javascript:void(0)">
                More...
            </a>

        </div>
    </div>
    <div id="culture-dropdown" class="top-dropdown-contents">
        <div class="visible-large">
            <h1 class="top-header">
                Our Culture: Our Life
            </h1>
            <div class="top-sections">
                <section class="top-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
                <div class="section-images">
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade1.jpg" />
                            <figcaption>
                                The beautiful & graceful Agbonma Masquerade
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade2.jpg" />
                            <figcaption>
                                The ferocious & revered Isi Odogwu Masquerade
                            </figcaption>
                        </figure>
                    </section>
                    <section class="top-image">
                        <figure>
                            <img src="~/land/masquerade3.jpg" />
                            <figcaption>
                                The ever-playful and agile Ajikwu Masquerade
                            </figcaption>
                        </figure>
                    </section>
                </div>
            </div>

        </div>

        <div class="bottom-nav">
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Ito_Ogbo).ToString())">
                Ito-Ogbo Featival
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.New_Yam_Festival).ToString())">
                New Yam Festival
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Festivals).ToString())">
                Festivals
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Masquerade).ToString())">
                Masquerades
            </a>
            <a href="~/Home/UnitList?id =@StringEncryption.Encrypt(((int)@UnitTypes.Dance_Group).ToString())">
                Dance Groups
            </a>

        </div>
    </div>
    <div id="media-dropdown" class="top-dropdown-contents">
        <h1 class="top-header alt">
            Media Center
        </h1>
        <div class="top-nav">
            <a href="javascript:void(0)">
                Opinion' Blogs
            </a>
            <a href="javascript:void(0)">
                News Articles
            </a>
            <a href="javascript:void(0)">
                Photo Gallery
            </a>
            <a href="javascript:void(0)">
                Events Calendar
            </a>

        </div>

        <div class="visible-large">

            <div class="media-sections">

                <section class="media-menu">
                    <a href="javascript:void(0)">
                        Education
                    </a>
                    <a href="javascript:void(0)">
                        Security
                    </a>
                    <a href="javascript:void(0)">
                        Health & Fitness
                    </a>
                    <a href="javascript:void(0)">
                        Life, Religion & Family
                    </a>
                    <a href="javascript:void(0)">
                        Science & Technology
                    </a>
                    <a href="javascript:void(0)">
                        Movies, Music, & Arts
                    </a>
                </section>
                <section class="media-menu">
                    <a href="javascript:void(0)">
                        Education
                    </a>
                    <a href="javascript:void(0)">
                        Security
                    </a>
                    <a href="javascript:void(0)">
                        Health & Fitness
                    </a>
                    <a href="javascript:void(0)">
                        Life, Religion & Family
                    </a>
                    <a href="javascript:void(0)">
                        Science & Technology
                    </a>
                    <a href="javascript:void(0)">
                        Movies, Music, & Arts
                    </a>
                </section>
                <section class="media-menu">
                    <a href="javascript:void(0)">
                        Igwe's Palace
                    </a>
                    <a href="javascript:void(0)">
                        Obosi Development Union
                    </a>
                    <a href="javascript:void(0)">
                        Umunnas/Kindreds
                    </a>
                    <a href="javascript:void(0)">
                        Age Grade Societies
                    </a>
                </section>
                <section class="media-menu">
                    <a href="javascript:void(0)">
                        Igwe's Palace
                    </a>
                    <a href="javascript:void(0)">
                        Obosi Development Union
                    </a>
                    <a href="javascript:void(0)">
                        Umunnas/Kindreds
                    </a>
                    <a href="javascript:void(0)">
                        Age Grade Societies
                    </a>
                </section>
            </div>

        </div>
    </div>
    <div id="account-dropdown" class="top-dropdown-contents">
        <h1 class="top-header alt">
            Account Manager
        </h1>
        <div class="forms-container">

            <div class="form-body login">

                <h2>
                    Enter your email address or phone number to access your dashboard
                </h2>

                <form class="form-inline" asp-action="SignIn" asp-controller="Home" method="POST">

                    <div class="field-group-alt">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Email address" required asp-for="Username" />

                        </div>

                        <div class="field-holder">

                            <div class="password-box">

                                <input type="password" class="form-field" placeholder="Password" required asp-for="Password" />

                                <a href="javascript:void(0)" id="show-password">
                                    <i class="fa fa-eye-slash"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="submit-button">
                        Login
                    </button>

                </form>

                <a href="javascript:void(0)" class="alternative-link">
                    Forgotten Password?
                </a>
            </div>

            <div class="form-body register">

                <h2>
                    Are you an Obosi indigene but not registered? Complete the following fields to get started or
                    <a href="javascript:void(0)">verify your account</a>.
                </h2>

                <form role="form" class="text-left" asp-action="SignUp" asp-controller="Home">

                    <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="First name" required asp-for="user.FirstName" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Last Name" required asp-for="user.LastName" />

                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Other name" asp-for="user.OtherName" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Email" asp-for="user.Email" required />

                        </div>
                    </div>  <div class="field-group">
                        <div class="field-holder">

                            <input class="form-field" placeholder="Password" required asp-for="user.Password" />

                        </div>
                        <div class="field-holder">

                            <input class="form-field" placeholder="Phone Number" asp-for="user.PhoneNumber" required />

                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field-holder">

                            <select class="form-field" required asp-for="VillageId">
                                <option selected>Select Village</option>
                                @foreach (var vil in Model.AllVillages)
                                {
                                    <option value="@vil.Id">@vil.Name</option>
                                }
                            </select>

                        </div>
                        <div class="field-holder">

                            <select class="form-field" asp-for="AkaId">
                                <option selected>Select Aka</option>
                                @foreach (var ak in Model.AllAka)
                                {
                                    <option value="@ak.Id">@ak.Name</option>
                                }

                            </select>

                        </div>

                    </div>

                    <div class="field-group">
                        <div class="field-holder">

                            <select class="form-field" asp-for="UmunnaId">
                                <option selected>Select Umunna</option>
                                @foreach (var umu in Model.AllUmunna)
                                {
                                    <option value="@umu.Id">@umu.Name</option>
                                }
                            </select>

                        </div>
                        <div class="field-holder">

                            <select class="form-field" asp-for="ImeneId">
                                <option value="">Select Ime Nne</option>
                                @foreach (var ime in Model.AllImene)
                                {
                                    <option value="@ime.Id">@ime.Name</option>
                                }
                            </select>

                        </div>

                    </div>

                    <div class="field-holder">

                        <div class="options">

                            <label> Are you a </label>

                            <span>
                                <input type="radio" id="male" name="GenderId" asp-for="user.GenderId" value="1" />
                                <label for="male">Male</label>
                            </span>

                            <span>
                                <input type="radio" id="female" name="GenderId" asp-for="user.GenderId" value="2" />
                                <label for="female">Female</label>
                            </span>
                        </div>

                    </div>


                    <button type="submit" class="submit-button">
                        Continue
                    </button>

                </form>

            </div>

        </div>
        <div class="bottom-nav alt">
            <a href="javascript:void(0)">
                Log into Account
            </a>
            <a href="javascript:void(0)">
                Recover Lost Password
            </a>
            <a href="javascript:void(0)">
                Start Registration
            </a>
            <a href="javascript:void(0)">
                Verify Registration
            </a>


        </div>

    </div>
</div>