
@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
   Layout = "~/Views/Shared/_HomeLayout.cshtml";
    //Layout = "~/Views/Shared/_GeneralLayout2.cshtml";
}

  <main>
<div class="heroDiv py-5" style="text-align: center;">
    <p style="font-size: 48px; font-weight: 700; color: #fff;">@Model.Unit_Type.Name </p>
  
</div>
<div class="row p-4 gap-3 justify-content-center">
    @if (Model.AllUnits != null)
    {foreach (var item in Model.AllUnits)
        {
            <div class="col-md-3 p-4" style="background-image: url('/@item.BackGroundImageUrl'); background-size: cover; background-position: center;
            position: relative;  width: 330px; height: 330px;" onclick="window.location.href = '/Home/Unit?id=@StringEncryption.Encrypt(@item.Id.ToString())';">
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); padding-top: 30%;">
                    <p></p>
                    <h3 style="text-align: center; color:#ffffff; font-size: 30px; " class="adlam">@item.Name</h3>
                </div>
            </div>
        }
        }
   </div>



    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background-color: #04042F;">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    <div>
                        <div class="row justify-content-between">
                            <div class="col-md-3 col-12">
                                <img src="~/images/obosiLogoText.png" alt="" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 " style=" border-bottom: 1px solid #9D9CDB; ">
                                <h1 class="medievalsharp-regular" style="color: #fff; font-size: 40px; font-weight: 500; text-align: center;">Account Manager</h1>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-3 p-3" style="border-right: 1px solid #9D9CDB;">
                                <form class="form-inline" asp-action="SignIn" asp-controller="Home" method="POST">
                                    <p style="font-size: 18px; font-weight: 500; color: #FFFFFF;">Enter your email address or phone number to access your dashboard</p>
                                    <label for="" style="font-size: 16px; color: #fff; "> Email Address or Phone Number</label>
                                    <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example"
                                           style="background-color: #100E6C; color: #fff;" required asp-for="Username" />
                                    <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Password</label>
                                    <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example"
                                           style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                           required asp-for="Password" />
                                    <button class="btn w-100 mt-3 p-2" style="background-color: #FB376B; color: #010119; font-size: 16px; font-weight: 500;">LOGIN</button>
                                </form>

                            </div>
                            <div class="col-md-9 p-3 ">
                                <p style="font-size: 18px; font-weight: 500; color: #FFFFFF; text-align: center;">Are you an Obosi indigene but not registered? Complete the following fields to get started or <span style="color: #0078D4;">verify your account</span></p>

                                <form role="form" class="text-left" asp-action="SignUp" asp-controller="Home">
                                    <div class="row p-3">
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">First Name</label>
                                                <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example"
                                                       style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                                       required asp-for="user.FirstName" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Last Name</label>
                                                <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example"
                                                       style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                                       required asp-for="user.LastName" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Last Name</label>
                                                <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example"
                                                       style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                                       asp-for="user.OtherName" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Email</label>
                                                <input class="form-control form-control-lg" type="email" aria-label=".form-control-lg example"
                                                       style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                                       asp-for="user.Email" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Password</label>
                                                <input class="form-control form-control-lg" type="password" aria-label=".form-control-lg example"
                                                       style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                                       asp-for="user.Password" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div>
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Phone Number</label>
                                                <input class="form-control form-control-lg" type="tel" aria-label=".form-control-lg example"
                                                       style="background-color: #100E6C; color: #ffffff; caret-color: #ffffff; opacity: 0.7;"
                                                       asp-for="user.PhoneNumber" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="">
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Village</label>
                                                <select class="form-select form-select-lg" aria-label="Default select example" style="background-color: #100E6C;
                                            color: #ffffff;" required asp-for="VillageId">
                                                    <option selected>Select Village</option>
                                                    @foreach (var vil in Model.AllVillages)
                                                    {
                                                        <option value="@vil.Id">@vil.Name</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="">
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Gender</label>
                                                <select class="form-select form-select-lg" aria-label="Default select example" required
                                                        style="background-color: #100E6C; color: #ffffff;" asp-for="user.GenderId">
                                                    <option selected>Select Gender</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>

                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-6 col-12 ">
                                            <div class="">
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Umunna</label>
                                                <select class="form-select form-select-lg " aria-label="Default select example" required
                                                        style="background-color: #100E6C; color: #ffffff;" asp-for="UmunnaId">
                                                    <option selected>Select Umunna</option>
                                                    @foreach (var umu in Model.AllUmunna)
                                                    {
                                                        <option value="@umu.Id">@umu.Name</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="">
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Ime Nne</label>
                                                <select class="form-select form-select-lg " aria-label="Default select example" required
                                                        style="background-color: #100E6C; color: #ffffff; " asp-for="ImeneId">
                                                    <option selected>Select Ime Nne</option>
                                                    @foreach (var ime in Model.AllImene)
                                                    {
                                                        <option value="@ime.Id">@ime.Name</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="">
                                                <label for="" style="font-size: 16px; color: #fff; " class="mt-2">Aka</label>
                                                <select class="form-select form-select-lg" aria-label="Default select example" required
                                                        style="background-color: #100E6C; color: #ffffff; " asp-for="AkaId">
                                                    <option selected>Select Aka</option>
                                                    @foreach (var ak in Model.AllAka)
                                                    {
                                                        <option value="@ak.Id">@ak.Name</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn w-100 mt-3 p-2" style="background-color: #FB376B; color: #010119; font-size: 16px; font-weight: 500;">CONTINUE</button>

                                </form>
                            </div>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>



