
@model Obosi.ng.Presentation.ViewModels.HomePageViewModel;
@{
   //Layout = "~/Views/Shared/_HomeLayout.cshtml";
    Layout = "~/Views/Shared/_GeneralLayout2.cshtml";
}

  
<div class="heroDiv py-3" style="text-align: center;">
    <p style="font-size: 48px; font-weight: 700; color: black;">@Model.Unit_Type.Name </p>
  
</div>

@* <div class="row gap-3   p-2" style="background-color: #D4D8E2;border-bottom:1px solid #ffff">
    @if (Model.AllUnits?.Count() >0)
    {foreach (var item in Model.AllUnits)
        {
            <div class="col-md-3">
            <a   href="/Home/Unit?id=@StringEncryption.Encrypt(@item.Id.ToString())">
            
            <div style="background-image: url('/@item.BackGroundImageUrl'); background-size: cover; background-position: center;
            position: relative;  width: 100%; height: 100%;" >
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); padding-top: 30%;">
                    <p></p>
                    <h3 style="text-align: center; color:#ffffff; font-size: 30px; " class="adlam">@item.Name</h3>
                </div>
            </div>
               
            </a>
            </div>
        }
    }
    else
    {
        <div style="background-color: #fff;" class="p-3">
            <div style="text-align: center;">
                <img src="~/notFound.gif" alt="Empty Page Image" class="w-10 h-10mb-3" style="width: 100px; height: 100px;">
                <h3>Ooops! This page seems to be empty.</h3>
                <p>Return to the homepage to discover more content.</p>
                <a href="/" class="btn btn-danger">Return to Homepage</a>
            </div>

        </div>
    }
</div>
 *@

<div class="row p-5" style="background-color: #D4D8E2;border-bottom:1px solid #ffff">

    <div class="col-md-12 mt-3 col-12 order-md-2 order-2 p-">
        <div class="row ">

              @if (Model.AllUnits?.Count() >0)
    {foreach (var item in Model.AllUnits)
        {
            <div class="col-md-3 p-2">
                        <a href="/Home/Unit?id=@StringEncryption.Encrypt(@item.Id.ToString())">
                <div style="border: 15px solid #fff;">
                    <div class="col-12">
                        @if(string.IsNullOrEmpty(@item.BackGroundImageUrl)){
                                    <img src="~/bg.jpg" alt="Image 1" class="img-fluid w-100">
                        }else{
                                <img src="~/@item.BackGroundImageUrl" alt="Image 1" class="img-fluid w-100">

                        }
                    </div>
                    <div style="background-color: transparent;  color: #4E4E4E;" class="">
                                <p class="text-center " style="font-size: 3vmin; font-size: 30px; font-weight: 700;">
                                        @StringEncryption.ToSentenceCase(@item.Name)
                            
                            </p>
                    </div>
                </div>

                </a>
            </div>
          
                }
            }
            else
            {
                <div style="background-color: #fff;" class="p-3">
                    <div style="text-align: center;">
                        <img src="~/notFound.gif" alt="Empty Page Image" class="w-10 h-10mb-3" style="width: 100px; height: 100px;">
                        <h3>Ooops! This page seems to be empty.</h3>
                        <p>Return to the homepage to discover more content.</p>
                        <a href="/" class="btn btn-danger">Return to Homepage</a>
                    </div>

                </div>
            }


        </div>

    </div>

</div>

