@model Obosi.ng.Presentation.ViewModels.ExecutuveViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Executive</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CategoryId">Unit:</label>
             
                <select asp-for="ExecutiveObject.UserId" class="form-select">
                    <option value="">Select</option>
                    @foreach (var item in Model.Users)
                    {
                        <option value="@item.Id">@item.FirstName @item.OtherName @item.LastName</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CategoryId">Unit:</label>
               
                <select asp-for="ExecutiveObject.UnitId" class="form-select">
                    <option value="">Select</option>
                    @foreach (var item in Model.Unit)
                    {
                        <option value="@item.Id">@item.Name (@item.UnitType.Name)</option>
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CategoryId">Designation:</label>
                <input asp-for="ExecutiveObject.Designation" class="form-control" />
            </div>
        </div>
    </div>
  
   

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="//cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('#PassageQuestion');
    });

</script>
