@using System.Security.Claims;
@using Obosi.ng.Application.Interfaces;
@using Obosi.ng.Domain.Entity;
@inject INotification notification;
@inject IUser user;
@inject IForum forum;
@inject INews newss;
@inject IBlog blogs;
@inject ICalender calender;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obosi Ng</title>

    <link rel="stylesheet" href="~/usersocials/css/themify-icons.css">
    <link rel="stylesheet" href="~/usersocials/css/feather.css">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link rel="stylesheet" href="~/usersocials/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <style>
        .feed-body {
            height: 300px; /* Fixed height for the container */
        }

        .forum-list {
            max-height: 100%;
            overflow-y: auto; /* Makes the list scrollable */
        }

        footer {
            background-color: transparent;/* Light grey background */
            text-align: center; /* Center align the content */
            padding: 20px 0; /* Padding above and below the content */
            font-family: Arial, sans-serif; /* Font styling */
            box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Subtle shadow on top */
        }

        .lloydant-link {
            color: #333; /* Dark grey text */
            text-decoration: none; /* No underline */
            display: inline-flex; /* Align items inline and center */
            align-items: center; /* Center items vertically */
            gap: 8px; /* Space between logo and text */
            font-weight: bold; /* Bold font for the text */
        }

        .lloydant-logo {
            width: 24px; /* Width of the logo */
            height: 24px; /* Height of the logo */
        }

        .lloydant-link:hover,
        .lloydant-link:focus {
            color: #0056b3; /* Change color on hover/focus for accessibility */
            text-decoration: underline; /* Add underline on hover/focus */
        }

    </style> 

</head>

<body class="color-theme-pink mont-font">

    <div class="preloader"></div>


    <div class="main-wrapper">

        <!-- navigation top-->
        <div class="nav-header bg-white shadow-xs border-0">
            <div class="nav-top">
                <a href="~/User/ViewUserProfile"><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">OBOSI </span> </a>
              
                <div class="card bg-transparent-card border-0 d-block mt-3 d-flex flex-column g-3 
                align-items-start border border-danger ml-4 rounded rounded-lg pl-3 ">
                    <h4 class="d-inline font-xssss mont-font fw-700  ml-4">Dark Mode</h4>

                    <div class="d-inline float-right mt-1  ml-4">
                        <label class="toggle toggle-dark"><input type="checkbox"><span class="toggle-icon"></span></label>
                    </div>
                </div>
                <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i class="feather-more-vertical text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                @* <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a> *@
                <button class="nav-menu me-0 ms-2"></button>
            </div>

            <form action="#" class="float-left header-search">
                <div class="form-group mb-0 icon-input">
                  @*   <i class="feather-search font-sm text-grey-400"></i>
                    <input type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg">
             *@    </div>
            </form>
            <a href="~/User/ViewUserProfile" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>

          @* @* @* @*   <a href="#" class="p-2 text-center ms-auto menu-icon" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown"><span class="dot-count bg-warning"></span><i class="feather-bell font-xl text-current"></i></a>
            <div class="dropdown-menu dropdown-menu-end p-4 rounded-3 border-0 shadow-lg" aria-labelledby="dropdownMenu3">

                <h4 class="fw-700 font-xss mb-4">Notification</h4>
                @if (@User.FindFirst(ClaimTypes.Email).Value != null)
                {

                    var notifications = await notification.GetAllNotificationsbyUsername(@User.FindFirst(ClaimTypes.Email).Value);
                  
                    @foreach (var items in notifications)
                    {
                        <div class="card bg-transparent-card w-100 border-0 ps-5 mb-3 mt-3">

                            <img src="/@items.User.PassportUrl" alt="user" class="w40 position-absolute left-0">
                          @*   <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700"> *@
                            @* <h5 class="text-grey-400 font-xsssss  mb-1 mt-0 fw-700 d-block">@items.User.Email <span class="text-grey-400 font-xsssss fw-600 float-right mt-1"> @items.DateCreated.ToShortDateString()</span></h5>
                            <h6 class="text-grey-500 fw-500 font-xssss lh-4">@items.Message</h6>
                          
                        </div>
                    }
                }


            </div> *@
 
           
          @*   <a href="~/User/ViewUserProfile" class="p-0 ms-3 menu-icon"><img src="~/usersocials/images/profile-4.png" alt="user" class="w40 mt--1"></a>
 *@
        </div>
        <!-- navigation top -->
        <!-- navigation left -->
        <nav class="navigation scroll-bar">
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"><span>New </span>Feeds</div>
                        <ul class="mb-1 top-content">
                            <li class="logo d-none d-xl-block d-lg-block"></li>
                            <li><a href="~/UserDashboard/posts" class="nav-content-bttn open-font"><i class="feather-tv btn-round-md bg-blue-gradiant me-3"></i><span>Feed</span></a></li>
                            <li><a href="~/userDashboard/Forum" class="nav-content-bttn open-font"><i class="feather-zap btn-round-md bg-blue-gradiant me-3"></i><span>Forums</span></a></li>
                            <li><a href="~/User/ViewUserProfile" class="nav-content-bttn open-font"><i class="feather-user btn-round-md bg-blue-gradiant me-3"></i><span>Profile </span></a></li>
                        </ul>
                    </div>

                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2">
                        <div class="nav-caption fw-700 font-xssss text-grey-500"><span>Events </span></div>
                        <ul class="mb-3">


                            <li><a href="~/Home/EventList" class="nav-content-bttn open-font"><i class="font-xl text-current feather-map-pin me-3"></i><span>Events</span></a></li>

                            @if (@User.FindFirst(ClaimTypes.Role).Value != "User") 
                            {
                                <li><a href="~/DashBoard" class="nav-content-bttn open-font"><i class="font-xl text-current feather-layout me-3"></i><span>Go To Admin</span></a></li>
                            }
                            <li><a href="~/Home/SignOut" class="nav-content-bttn open-font"><i class="font-xl text-current feather-log-out me-3"></i><span>Sign Out</span></a></li>

                        </ul>

                    </div>

                  
                  
                </div>
            </div>
        </nav>
        <!-- navigation left -->
        <!-- main content -->
        <div class="main-content right-chat-active">

            @RenderBody()
           
        </div>
      

        <div class="right-chat nav-wrap  right-scroll-bar">
            <div class="middle-sidebar-right-content bg-white shadow-xss ">

                <!-- loader wrapper -->
                <div class="preloader-wrap p-3">
                    <div class="box shimmer">
                        <div class="lines">
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                        </div>
                    </div>
                    <div class="box shimmer mb-3">
                        <div class="lines">
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                        </div>
                    </div>
                    <div class="box shimmer">
                        <div class="lines">
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                            <div class="line s_shimmer"></div>
                        </div>
                    </div>
                </div>
              

                <div class="section full pe-3 ps-4 pt-4   pb-4 position-relative feed-body" style="height: 300px;">
                    <h4 class="nav-caption fw-600 font-xssss text-grey-500" style="max-height: 100%; overflow-y: auto;">FORUMS</h4>
                    <ul class="list-group list-group-flush">
                        @{
                            var forums = await forum.GetForums();
                            if (!forums.Any())
                            {
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                      NFY
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="#">No Forums Available</a>
                                    </h3>
                                    
                                </li>
                            }
                            foreach (var item in forums)
                            {
                                <a href="~/UserDashboard/ForumTopic?forumId=@item.Id">   
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                    @item.Title.Substring(0,2)
                                   </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="~/UserDashboard/ForumTopic?forumId=@item.Id">@item.Title</a>
                                    </h3>
                                    <span class="badge mt-0 text-grey-500 badge-pill pe-0 font-xsssss">@item.Date.ToShortTimeString()</span>
                                </li>
                                </a>
                                }
                        }

                    </ul>
                </div>

                <div class="section full pe-3 ps-4 pt-4  mt-3 pb-4 position-relative feed-body" style="height: 300px;">
                    <h4 class="nav-caption fw-600 font-xssss text-grey-500" style="max-height: 100%; overflow-y: auto;">Events</h4>
                    <ul class="list-group list-group-flush">
                        @{
                            var events = await calender.GetAssets(@User.FindFirst(ClaimTypes.Email).Value);
                            if (!events.Any())
                            {
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                    NEY
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="#">No Events Yet</a>
                                    </h3>

                                </li>
                            }
                            foreach (var item in events)
                            { <a href="~/UserDashboard/">   
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                        @item.Title.Substring(0,2)
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="#">@item.Title</a>
                                    </h3>
                                    <span class="badge mt-0 text-grey-500 badge-pill pe-0 font-xsssss">@item.StartDate.ToShortDateString()</span>
                                </li>
                                </a>
                            }
                        }

                    </ul>
                </div>

                <div class="section full pe-3 ps-4 pt-4  mt-3 pb-4 position-relative feed-body" style="height: 300px;">
                    <h4 class="nav-caption fw-600 font-xssss text-grey-500" style="max-height: 100%; overflow-y: auto;">NEWS</h4>
                    <ul class="list-group list-group-flush">
                        @{
                            var newsValues = await newss.GetHomePageNews();
                            if (!newsValues.Any())
                            {
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                    NNY
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="#">No News Yet</a>
                                    </h3>

                                </li>
                            }
                            foreach (var item in newsValues)
                            {
                                <a href="~/Home/News?id=@StringEncryption.Encrypt(item.Id.ToString())">
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                        @item.Title.Substring(0,2)
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="~/Home/News?id=@StringEncryption.Encrypt(item.Id.ToString())">@item.Title</a>
                                    </h3>
                                    @if (item.DatePublished != null){
                                     <span class="badge mt-0 text-grey-500 badge-pill pe-0 font-xsssss">@item.DatePublished.Value.ToShortDateString()</span>
                                    }
                                </li>
                                </a>
                            }
                        }

                    </ul>
                </div>


                <div class="section full pe-3 ps-4 pt-4 pb-4 mt-3 position-relative feed-body" style="height: 300px;">
                    <h4 class="nav-caption fw-600 font-xssss text-grey-50" style="max-height: 100%; overflow-y: auto;">BLOGS</h4>
                    <ul class="list-group list-group-flush">
                        @{
                            var blogsPost = await blogs.GetHomePageBlogs();
                            if (!blogsPost.Any())
                            {
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                    NBP
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark " href="#">No Blogs Post Yet</a>
                                    </h3>

                                </li>
                            }
                            foreach (var item in blogsPost)
                            {
                                <a href="~/Home/Blog?id=@StringEncryption.Encrypt(@item.Id.ToString())">
                                <li class="bg-transparent list-group-item no-icon pe-0 ps-0 pt-2 pb-2 border-0 d-flex align-items-center">

                                    <span class="btn-round-sm bg-primary-gradiant me-3 ls-3 text-white font-xssss fw-700">
                                        @item.Title.Substring(0,2)
                                    </span>
                                    <h3 class="fw-700 mb-0 mt-0">
                                        <a class="font-xssss text-grey-600 d-block text-dark" href="~/Home/Blog?id=@StringEncryption.Encrypt(@item.Id.ToString())">@item.Title</a>
                                    </h3>
                                    @if (item.DatePublished != null)
                                    {
                                        <span class="badge mt-0 text-grey-500 badge-pill pe-0 font-xsssss">@item.DateApproved.Value.ToShortTimeString()</span>
                                    }
                                </li>
                                </a>
                            }
                        }

                    </ul>
                </div>

            </div>
        </div>




        <footer>
            <a href="https://www.lloydant.com" class="lloydant-link" target="_blank">
                <img src="~/lloydant.png" alt="Lloydant Logo" class="lloydant-logo" />
                <span>Powered by Lloydant</span>
            </a>
        </footer> 
    </div>
   

    
  



    <script src="~/usersocials/js/plugin.js"></script>
    <script src="~/usersocials/js/scripts.js"></script>
    <script>
        $(document).ready(function () {
            // Check the user's preference on page load
            if (localStorage.getItem('darkMode') === 'enabled') {
                $('body').addClass('theme-dark');
                $('#darkmodeswitch').prop('checked', true);
            } else {
                $('body').removeClass('theme-dark');
                $('#darkmodeswitch').prop('checked', false);
                localStorage.setItem('darkMode', 'disabled');
            }

            // Toggle dark mode and save preference to localStorage
            $('#darkmodeswitch').on('change', function () {
                if (this.checked) {
                    $('body').addClass('theme-dark');
                    localStorage.setItem('darkMode', 'enabled');
                } else {
                    $('body').removeClass('theme-dark');
                    localStorage.setItem('darkMode', 'disabled');
                }
            });
        });
    </script>

</body>


</html>