@model Obosi.ng.Presentation.ViewModels.NewsViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">

</head>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6></h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="text-start m-3">
                        <a class="btn btn-outline-primary btn-sm mb-0" href="~/News/Create">Create</a>
                    </div>
                    <div class="table-responsive p-0">
                        <table id="example" class="table table-striped p-3 m-3" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S/n</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>User</th>
                                    <th>Date Published</th>
                                    <th>Date Approved</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.NewsList != null)
                                {
                                    int k = 1;
                                    foreach (var item in Model.NewsList)
                                    {
                                        <tr>
                                            <td>@k</td>
                                            <td>@item.Title</td>
                                            <td>@item.Category.Name</td>
                                            <td>@item?.User?.Email</td>
                                            <td> @if (item.DatePublished != null)
                                                {
                                                    @item.DatePublished.Value.ToShortDateString()
                                                }
                                            </td>
                                            <td>
                                                @if (item.DateApproved != null)
                                                {
                                                    @item.DateApproved.Value.ToShortDateString()
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary btn-sm mb-0" href="~/News/Details?id=@item.Id">View</a>
                                                <a class="btn btn-outline-primary btn-sm mb-0" href="~/News/Edit?id=@item.Id">Edit</a>
                                            </td>
                                        </tr>
                                        k++;
                                    }
                                }


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script> 