@using Obosi.ng.Application.Interfaces;
@using Obosi.ng.Domain.Entity;
@inject IForum forum;
@{
    Layout = "~/Views/Shared/_SocialLayout.cshtml";
}



            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left pe-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card shadow-xss w-100 d-block d-flex border-0 p-4 mb-3">
                                <div class="card-body d-flex align-items-center p-0">
                                    <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900">Forums</h2>
                                    <div class="search-form-2 ms-auto">
                                        <i class="ti-search font-xss"></i>
                                        <input type="text" class="form-control text-grey-500 mb-0 bg-greylight theme-dark-bg border-0" placeholder="Search here.">
                                    </div>
                                   @*  <a href="#" class="btn-round-md ms-2 bg-greylight theme-dark-bg rounded-3"><i class="feather-filter font-xss text-grey-500"></i></a>
                        <a href="~/userdashboard/createforum" class="btn-round-md ms-2 bg-greylight theme-dark-bg rounded-3"><i class="add font-xss text-grey-500"></i>+</a>
                                </div> *@
                            </div>

                            <div class="row ps-2 pe-1">
                    @{
                        var forums = await forum.GetForums();
                        if (!forums.Any())
                        {
                            <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                    <div class="card-body d-block w-100 p-4 text-center">
                                        <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"></figure>
                                        <div class="clearfix"></div>
                                        <h4 class="fw-700 font-xss mt-3 mb-0">No Forum Available Yet </h4>
                                 </div>
                                </div>
                            </div>
                        
                        }
                        foreach (var item in forums)
                        {

                            <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                    <div class="card-body d-block w-100 p-4 text-center">
                                        <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"></figure>
                                        <div class="clearfix"></div>
                                        <h4 class="fw-700 font-xss mt-3 mb-0">@item.Title </h4>
                                            @if (item.Description.Length > 80)
                                            {
                                                <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">@item.Description.Substring(0,80)
                                                    ...</p>
                                            }
                                            else
                                            {
                                                <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">
                                                    @item.Description                                                   
                                                </p>
                                            }

                                            <a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white" onclick="Join(@item.Id)">FOLLOW</a>
                                        <a href="~/UserDashboard/ForumTopic?forumId=@item.Id" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">VIEW</a>
                                    </div>
                                </div>
                            </div>
                        }    
                    }

                               
                                <div class="col-md-12 pe-2 ps-2">
                                    <div class="card w-100 text-center shadow-xss rounded-xxl border-0 p-4 mb-3 mt-0">
                                        <div class="snippet mt-2 ms-auto me-auto" data-title=".dot-typing">
                                            <div class="stage">
                                                <div class="dot-typing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>
   
     
        
          
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>
    <script>
           
        function Join(forumId) {
            event.preventDefault();  // Prevent the default anchor click behavior


            $.ajax({
                type: "POST",
                url: "@Url.Action("FollowForum", "UserDashboard")",
                dataType: "json",
                data: { forumId: forumId }, // Pass data as an object
                success: SuccessFunc,
                error: ErrorFunc
            });

            function SuccessFunc() {

                Swal.fire({
                    title: 'Success!',
                    text: 'Your now follow this forum!',
                    icon: 'success',
                    confirmButtonText: 'Great'
                })


            }

            function ErrorFunc() {
                alert("Operation failed!");
            }

        }

    </script>
   
    