@model Obosi.ng.Presentation.ViewModels.UserDashboardViewModel
@{
    Layout = "~/Views/Shared/_SocialLayout.cshtml";
}




<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left pe-0 ps-lg-3 ms-0 me-0" style="max-width: 100%;">
        <div class="row">


            <div class="col-lg-12">
                <div class="chat-wrapper p-0 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                    <div class="chat-wrapper pt-0 w-100 position-relative scroll-bar">
                        <div class="chat-body p-lg-4 p-3 mt-lg-3 mt-0">
                            <div class="card dark-bg-transparent border-0 w-100 p-0 mb-3 shadow-none">
                                <div class="card-body p-0">
                                    <h6 class="fw-600 text-grey-500 font-xsssss">@DateTime.Now.ToLongDateString() </h6>
                                    <h2 class="font-sm text-grey-900 fw-600">@Model.ForumTopic.Topic
                                    </h2>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="max-height: 300px; overflow-y: auto;">
                              
                            @foreach(var item in Model.ForumMessages){
                                <div class="panel panel-default p-0 bg-transparent rounded-0">
                                    <div class="panel-heading pt-1 pb-2" role="tab" id="headingThree">
                                        <a class="panel-title fw-400 mb-0 accordion-toggle icon-none d-flex justify-content-between pe-0" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">

                                                @if (string.IsNullOrWhiteSpace(item.User.PassportUrl)){
                                             <figure class="avatar me-2 mb-0 w35 mt-1 pt-1"><img src="~/usersocials/images/bb-9.jpg" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>
                                                }else{
                                            <figure class="avatar me-2 mb-0 w35 mt-1 pt-1"><img src="/@item.User.PassportUrl" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>}
                                                <span class="font-xssss text-grey-700 pt-2 mt-1 ps-2 fw-700 mb-0 me-auto text-dark">@item.User.FirstName  @item.User.LastName </span>
                                                <span class="font-xssss text-grey-500 pt-2 mt-1 ps-2 fw-600 mb-0 ms-auto">@item.Date.ToLongDateString @item.Date.ToShortTimeString()</span>

                                        </a>
                                    </div>
                                    <p class="text-grey-600 mb-4 font-xsss lh-28 fw-500 mt-3">@item.Message </p>


                                </div> 
                                }
                            </div>

                        </div>
                    </div>
                    @if (Model?.ForumFollower?.CanContribute == true)
                    {
                        <div class="chat-bottom dark-bg p-3 mb-3 border-top border-bottom bor-0 theme-dark-bg" style="width: 98%;">
                            <form class="chat-form d-block overflow-hidden">
                                <div id="collapseThree" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingThree">
                                    <input  asp-for="@Model.ForumTopic.Id" type="hidden" id="forumTopic"/>
                                    <textarea class="form-control  p-3 h100 bg-greylight lh-16" rows="5" placeholder="Write your message..."
                                    id="forumText"></textarea>
                                    <p class=""></p>
                                </div>

                                <button class="bg-current border-0 p-0 float-right w200 text-white fw-600 font-xssss text-uppercase" onclick="chat()">Send</button>
                            </form>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</div>


          <script>

    function chat() {
        event.preventDefault();  // Prevent the default anchor click behavior
      var text =  $('#forumText').val()
      var topic =  $('#forumTopic').val()

        $.ajax({
            type: "POST",
            url: "@Url.Action("AddChat", "UserDashboard")",
            dataType: "json",
            data: { forumTopicId: topic, message: text }, // Pass data as an object
            success: SuccessFunc,
            error: ErrorFunc
        });

        function SuccessFunc() {
            window.location.reload(true);
        }

        function ErrorFunc() {
            alert("Operation failed!");
        }

    }

                                </script>